body {
	background: #fff;
  direction: ltr;
	font-family: Helvetica, Arial, sans-serif;
  font-size: .8rem;
	margin: 0;
  min-width: 10rem;
}

.header {
  border-bottom: 1px solid #dbdbdb;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  line-height: 1.4rem;
}

.footer {
  border-top: 1px solid #dbdbdb;
  height: 4rem;
  display: flex;
  background-color:#FFC419;
}

.main {
  min-height: 5rem;
  padding: 1rem 1.5rem 0rem 1.5rem;
}

.detected {
  columns: 1;
  column-gap: 1.5rem;
  line-height: 1.4rem;
}

.detected > div {
  line-height: 2rem;
  font-size: 1rem;
  margin-bottom: 12px;
  text-align: center;
}

.smileUIBtn {
  background-color:#FFC419;
  margin: auto;
  color: #000;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

.internal-link {
  border-bottom: 1px solid #dbdbdb;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  line-height: 1.4rem;
}
